@import url('https://fonts.googleapis.com/css?family=Big+Shoulders+Text&display=swap');

body {
  width: 100vw;
  height: 100vh;
  background: #e2d4ba;
  color: #4d4861;
  margin: 0;
  padding: 0;
  font-family: 'Big Shoulders Text', cursive;
  font-size: 26px;
}

#main {
  width: 410px;
  margin: 15vh auto;
  postition: relative;
}

#game-title {
  color: #4d4861;
  position: absolute;
  text-shadow: 2px 3px #af7a6d;
  transform: translateX(0) translateY(-100px) rotate(0);
  transition-duration: 0.5s;
  transition-property: transform;
  transition-timing-function: ease-in-out;
  z-index: 1;
}

.game-state-playing #game-title {
  text-shadow: -2px 3px #af7a6d;
  transform: translateX(-108px) translateY(37px) rotate(-0.25turn);
  transition-duration: 0.5s;
  transition-property: transform, text-shadow;
  transition-timing-function: ease-in-out;
}

.game-state-title {
  color: #4d4861;
  margin: 0;
  text-align: right;
  text-shadow: 2px 2px #af7a6d;
}

.game-state-playing .game-state-title {
  margin-bottom: -3px;
}

.game-state-title h5 {
  margin: 0;
  padding: 0;
}

.peg {
  background: clear;
  border-radius: 50%;
  border: 2px dotted #af7a6d;
  display: inline-block;
  height: 25px;
  margin: 5px 10px;
  overflow: hidden;
  width: 25px;
  font-size: 18px;
  color: #000;
}

.current-round .peg:hover {
  cursor: pointer;
  border-color: #1f2421;
}

.peg.pegged,
.peg.selected {
  border-style: solid;
  border-color: #1f2421;
}

.peg.green {
  background: #0f0;
}

.peg.yellow {
  background: yellow;
}

.peg.black {
  background: #000;
  color: #fff;
}

.peg.white {
  background: #fff;
}

.peg.blue {
  background: #00f;
  color: #fff;
}

.peg.red {
  background: #f00;
  color: #fff;
}

.rounds {
  z-index: 100;
  align-items: center;
  border-top: 1px solid #af7a6d;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  width: 100%;
}

.round {
  align-items: stretch;
  border-bottom: 1px solid #af7a6d;
  display: flex;
  flex-direction: row;
  height: 40px;
  justify-content: stretch;
  width: 100%;
}

.round-number {
  position: relative;
  text-align: center;
  width: 100px;
  padding-top: 3px;
  background: #af7a6d;
  color: #e2d4ba;
  border-bottom: 1px solid #e2d4ba;
}

.round-slots {
  position: relative;
  flex: 10;
  width: auto;
}

.solution .round-slots {
  background: #af7a6d;
}

.round-info {
  text-align: center;
  width: 100px;
  background: #af7a6d;
  font-size: 12px;
  border-bottom: 1px solid #e2d4ba;
}

.solution {
  text-align: center;
  z-index: 50;
}

.peg-picker {
  color: #1f2421;
  left: 18px;
  position: absolute;
  top: 40px;
  width: 150px;
  z-index: 150;
  border-radius: 8px;
  border: 1px solid #af7a6d;
  box-shadow: 3px 3px #af7a6d;
  padding: 5px;
}

.picker-title {
  margin: 0;
  padding: 0;
}

.peg-picker .peg {
  opacity: 0.7;
}

.peg-picker .peg:hover {
  cursor: pointer;
  opacity: 1;
}

.pips {
  width: 48px;
  margin: 0 auto;
  padding-top: 3px;
}

.pip {
  border-radius: 50%;
  border: 1px solid #333;
  display: inline-block;
  height: 10px;
  margin: 1px 3px;
  overflow: hidden;
  width: 10px;
}

.pip.no-match {
  background: #666;
}

.pip.color-match {
  background: #fff;
}

.pip.color-slot-match {
  background: #f00;
}

.game-state-end .game-state-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.game-state-end .game-state-title h5 {
  padding-top: 4px;
}

.game-board {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.game-state-new .game-board input {
  width: 70px;
  font-size: 25px;
}

.btn {
  border: 1px solid #1b3022;
  border-radius: 6px;
  cursor: pointer;
  display: inline-block;
  font-size: 17px;
  padding: 7px 15px;
  text-decoration: none;
}

.btn:active {
  position: relative;
  top: 1px;
}

.btn.btn-filled {
  background-color: #4d4861;
  color: #e2d4ba;
}

.btn.btn-filled:hover {
  background: linear-gradient(to bottom, #7261a3, #4d4861);
}

.btn.btn-filled:active {
  background: linear-gradient(to bottom, #4d4861, #7261a3);
}

.btn.btn-outlined {
  background-color: #4d4861;
  color: #e2d4ba;
}

.btn.btn-outlined:hover {
}

.input-field-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
}

.input-field-row label {
  display: inline-block;
  width: 150px;
}
